@font-face {
    font-family: 'serifreg'; /*a name to be used later*/
    src: url("../fonts/bonvoyreg.otf"); /*URL to font*/
}
@font-face {
    font-family: 'serifthin'; /*a name to be used later*/
    src: url("../fonts/bonvoythin.otf"); /*URL to font*/
}
@font-face {
    font-family: 'sanserif'; /*a name to be used later*/
    src: url("../fonts/LT Emphasis Bold.ttf"); /*URL to font*/
}
@font-face {
    font-family: 'sanserif2'; /*a name to be used later*/
    src: url("../fonts/LT Emphasis.ttf"); /*URL to font*/
}
@font-face {
    font-family: 'sanserif3'; /*a name to be used later*/
    src: url("../fonts/LT Emphasis Light.ttf"); /*URL to font*/
}
@font-face {
    font-family: 'bogart'; /*a name to be used later*/
    src: url("../fonts/Bogart-Regular-trial.ttf"); /*URL to font*/
}
@font-face {
    font-family: 'bogart-thin'; /*a name to be used later*/
    src: url("../fonts/Bogart-Thin-trial.ttf"); /*URL to font*/
}

body, html {
  height: 100%;
  background-attachment: fixed;
}
p{
	font-family: 'sanserif3';
	font-size: 20px;
	color: White;
}
a{
	font-family: 'sanserif3';
	font-size: 16px;
	color:White;S
}
h1{
	font-family: 'sanserif2'; 
	font-size: 50px;
/*	text-decoration: underline;*/
}
h2{	
	font-family: 'sanserif'; 
	font-size:30px;
}

@media only screen and (orientation: landscape) {
div#centerleft{
	position:fixed;
	width:25%;
	height:90%;
	left: 25%;
	top: 5%;
}
div#centerright{
	position:fixed;
	width:25%;
	height:90%;
	right: 25%;
	top: 5%;
}
div#lefttext{
	background: rgba(0,0,0, 0);
	position:relative;
	width: 100%;
	height: fit-content;
	top:5%;
    border-radius: 0.25em;
    display: block; 
	margin: 10 auto;
	border:1px solid white;
	padding: 10px 10px;
	overflow-x: hidden;
	text-align: right;
}
div#righttext{
	background: rgba(0,0,0, 0);
	position:relative;
	width: 100%;
	top:5%;
	height: fit-content;
    border-radius: 0.25em;
    display: block; 
	margin: 10 auto;
	border:1px solid white;
	padding: 10px 10px;
	overflow-x: hidden;
	text-align: left;
}
div#rightbuttons{
	position:relative;
	top:5%;
}
div#leftbuttons{
	position:relative;
	top:5%;
}
div#left{
	position:fixed;
	top: 0%;
	width:20%;
	left: 5%;
	height:95%;
	overflow-x: hidden;
	text-align: right;
	}
div#right{
	position:fixed;
	top: 0%;
	width:20%;
	right: 5%;
	height:95%;
	overflow-x: hidden;
	text-align: left;
	}
div#centernav{
	position:fixed;
	top: 85%;
	left: 50%;
	width:55%;
	-moz-transform: translate(-50%, 0%);
	-o-transform: translate(-50%, 0%);
  	-ms-transform: translate(-50%, 0%);/* IE 9 */
    -webkit-transform:translate(-50%, 0%);/* Chrome, Safari, Opera */
  	transform: translate(-50%, 0%);
	text-align:center;
}
}


@media only screen and (orientation: portrait) {
div#centerleft{
	position:fixed;
	width:45%;
	height:35%;
	left: 5%;
	top: 7%;
}
div#centerright{
	position:fixed;
	width:45%;
	height:35%;
	right: 5%;
	bottom: 20%;
}
div#lefttext{
	background: rgba(0,0,0, 0);
	position:fixed;
	width: 90%;
	height: fit-content;
	top:2.5%;
    border-radius: 0.25em;
    display: block; 
	margin: 10 auto;
	border:1px solid white;
	padding: 10px 10px;
	overflow-x: hidden;
	text-align: right;
}
div#righttext{
	background: rgba(0,0,0, 0);
	position:fixed;
	width: 90%;
	bottom:15%;
	height: fit-content;
    border-radius: 0.25em;
    display: block; 
	margin: 10 auto;
	border:1px solid white;
	padding: 10px 10px;
	overflow-x: hidden;
	text-align: left;
}
div#rightbuttons{
	position:fixed;
	bottom: 25%;
	text-align: left;
	width: 45%;
	left: 5%;
}
div#leftbuttons{
	position:fixed;
	top:10%;
	width: 45%;
	right: 5%;
	text-align: right;
}
div#left{
	position:fixed;
	top: 0%;
	width:90%;
	left: 5%;
	height:40%;
	overflow-x: hidden;
	text-align: center;
	}
div#right{
	position:relative;
	top: 45%;
	width:90%;
	left: 5%;
	height:40%;
	overflow-x: hidden;
	text-align: center;
	}
div#centernav{
	position:fixed;
	top: 90%;
	left: 50%;
	width:100%;
	-moz-transform: translate(-50%, 0%);
	-o-transform: translate(-50%, 0%);
  	-ms-transform: translate(-50%, 0%);/* IE 9 */
    -webkit-transform:translate(-50%, 0%);/* Chrome, Safari, Opera */
  	transform: translate(-50%, 0%);
	text-align:center;
}
}


.bg{
  height: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.video{
	position:fixed;
	top: 0%;
	left: 50%;
	-moz-transform: translate(-50%, 0%);
	-o-transform: translate(-50%, 0%);
  	-ms-transform: translate(-50%, 0%);/* IE 9 */
    -webkit-transform:translate(-50%, 0%);/* Chrome, Safari, Opera */
  	transform: translate(-50%, 0%);
	background-color: transparent;
}
.button{
    border: none;
	background: transparent;
    cursor:pointer;
    overflow: hidden;
    outline: none;
	display: inline-block;
    position:relative;
	font-family: 'sanserif2';
	font-size:16px;
}
.button:hover{
    background: rgba(0,0,0, 0.5);
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);	
    border-radius: 0.25em;
}
.titlebutton{
	width: fit-content;
	padding: 0px 10px;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'sanserif';
	font-size: 25px;
	text-align:center;
	position:relative;
	display: block; 
	margin: 0 auto;
	bottom:15%;
    border: none;
    outline:none;
    height:75%;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);	
	color: Black;
    border-radius: 0.25em;
}
.titlebutton:hover{
    background: rgba(0,0,0, 0.5);
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);	
    border-radius: 0.25em;
}
.tooltiptext {
    visibility: hidden;
	display: inline-block;
    text-align: center;
    padding: 5px 0;
    border-color:black;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
    font-family:'Weirdo';    
 
    /* Position the tooltip text - see examples below! */
    position: fixed;
    bottom:5%;
    left:60%;
    z-index: 1;
}
.contact{
	text-align:center;
	font-family:'sanserif2';
	font-size:20px;
	width: fit-content;
	height: 75%;
	padding: 10px 10px;
    border: none;
    outline:none;
	color: White;
    border-radius: 0.25em;
	margin: 0 auto;
	position: absolute;
	left:50%;
	top:5%;
	display:block;
	-moz-transform: translate(-50%, 0%);
	-o-transform: translate(-50%, 0%);
  	-ms-transform: translate(-50%, 0%);/* IE 9 */
    -webkit-transform:translate(-50%, 0%);/* Chrome, Safari, Opera */
  	transform: translate(-50%, 0%);
	border:1px solid white;
	overflow-x: hidden;
}
.back{
	width: fit-content;
	padding: 0px 10px;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'sanserif';
	font-size: 50px;
	text-align:center;
	position:relative;
	top:0%;
    border: none;
    outline:none;
    height:80%;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);	
	color: Black;
    border-radius: 0.25em;
    display: block; 
	margin: 0 auto;
}
.back:hover{
    background: rgba(0,0,0, 0.5);
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);	
    border-radius: 0.25em;
}
.menu{
	width: fit-content;
	padding: 0px 10px;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'sanserif2';
	font-size: 20px;
	position:relative;
	top:40%;
    border: none;
    outline:none;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);	
	color: Black;
    border-radius: 0.25em;
    display: inline-block;
	margin: 5 5 auto;
}
.menu:hover{
    background: rgba(0,0,0, 0.5);
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);	
    border-radius: 0.25em;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.cardleft {
 position:relative;
/* top:0%;*/
 width:100%;
 height:100%;
}
.cardright {
 position:relative;
 width:100%;
 height:100%;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.cardleft:hover .card-inner {
  transform: rotateY(180deg);
}
.cardright:hover .card-inner {
  transform: rotateY(180deg);
}
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}
.card-front {
/*  background: white;
  border: 1px solid #e5e7eb;*/
}
.card-back {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size:calc(1vw + 1vh);
  font: sanserif;
  transform: rotateY(180deg);
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  --duration: 1500ms;
  --easing: linear(0, 0.438 5.2%, 0.755 10.8%, 0.971 17.1%, 1.043 20.6%, 1.092 24.3%, 1.125 29.3%, 1.131 35.2%, 1.114 41.6%, 1.043 58.9%, 1.018 68%, 1.003 80.3%, 1);
  /*--easing: ease-in-out;*/
  --width: 100svw;
  --height: 100svh;
  --label-border-color: white;
  --label-border-color-current: white;

  min-height: 100vh;
  background: #111;
  color: #fff;
  font-family: system-ui;
    margin: 0;
}
/* Hide radio buttons */
input[type="radio"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;

}

nav {
  position: fixed;
  top: 1rem;
  left: 1rem;
  padding: .5rem;
	border-radius5px;
  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-auto-rows: 75px;
  flex-wrap: wrap;
  gap: .25rem;
  z-index: 1;
  background: rgba(0 0 0 /.25);
  backdrop-filter: blur(5px);
  opacity: .5;
  transition: opacity 300ms ease-in-out;
}
nav:hover{
  opacity: 1;
}

nav > label {
  cursor: pointer;
  display: grid;
  place-content: center;
  transition: background-color 300ms linear, scale 300ms linear;
  opacity: var(--label-opacity,0.75);
  transition: opacity 300ms ease-in-out,border-color 300ms ease-in-out;
  border: 2px solid var(--label-border-color);
  border-radius: 2px;
  background: white;
}
nav > label > img{
  border-radius: inherit;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: var( --label-img-opacity,1);
  transition: opacity 300ms ease-in-out
}
nav:has(label:hover) label:not(:hover){
  --label-opacity: .5;
}
label:hover {
  --label-opacity: 1;
}
/* current label */
input:nth-child(1):checked ~ nav > label:nth-child(1),
input:nth-child(2):checked ~ nav > label:nth-child(2),
input:nth-child(3):checked ~ nav > label:nth-child(3),
input:nth-child(4):checked ~ nav > label:nth-child(4),
input:nth-child(5):checked ~ nav > label:nth-child(5),
input:nth-child(6):checked ~ nav > label:nth-child(6),
input:nth-child(7):checked ~ nav > label:nth-child(7),
input:nth-child(8):checked ~ nav > label:nth-child(8),
input:nth-child(9):checked ~ nav > label:nth-child(9),
input:nth-child(10):checked ~ nav > label:nth-child(10),
input:nth-child(11):checked ~ nav > label:nth-child(11),
input:nth-child(12):checked ~ nav > label:nth-child(12),
input:nth-child(13):checked ~ nav > label:nth-child(13),
input:nth-child(14):checked ~ nav > label:nth-child(14),
input:nth-child(15):checked ~ nav > label:nth-child(15),
input:nth-child(16):checked ~ nav > label:nth-child(16),
input:nth-child(17):checked ~ nav > label:nth-child(17),
input:nth-child(18):checked ~ nav > label:nth-child(18),
input:nth-child(19):checked ~ nav > label:nth-child(19),
input:nth-child(20):checked ~ nav > label:nth-child(20){
  --label-opacity: 1;
  --label-border-color: var(--label-border-color-current);
  --label-img-opacity: 0.1;
}

/* Gallery container */
.grid {
  position: fixed;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(4, var(--width));
  grid-auto-rows: 100svh;
  transition: translate var(--duration) var(--easing);
  /*transition-delay: 0ms, calc(var(--duration) * 1);*/
  translate: var(--grid-x,0) var(--grid-y,0);
}

body:has(input:nth-of-type(4n + 1):checked) {
    --grid-x: calc(var(--width) * 0 * -1);
}
body:has(input:nth-of-type(4n + 2):checked) {
    --grid-x: calc(var(--width) * 1 * -1);
}
body:has(input:nth-of-type(4n + 3):checked) {
    --grid-x: calc(var(--width) * 2 * -1);
}
body:has(input:nth-of-type(4n):checked) {
    --grid-x: calc(var(--width) * 3 * -1);
}
body:has(input:nth-of-type(-n + 4):checked) {
    --grid-y: 0;
}
body:has(input:nth-of-type(n + 5):nth-of-type(-n + 8):checked) {
    --grid-y: calc(var(--height) * 1 * -1);
}
body:has(input:nth-of-type(n + 9):nth-of-type(-n + 12):checked) {
    --grid-y: calc(var(--height) * 2 * -1);
}
body:has(input:nth-of-type(n + 13):nth-of-type(-n + 16):checked) {
    --grid-y: calc(var(--height) * 3 * -1);
}
body:has(input:nth-of-type(n + 17):checked) {
    --grid-y: calc(var(--height) * 4 * -1);
}

/* Main Images */
.grid > div{
  position: relative;
}
/* Image title */
.grid > div::after{
  content: attr(data-title);
  position: absolute;
  bottom: 60;
  left: 0;
  padding: 2rem;
  width: 100%;
/*  background-image: linear-gradient(transparent, rgba(0 0 0 / .5));*/
/*  color: rgba(255 255 255 / .75);*/
  font-size: 1rem;
  z-index: 9999;
  opacity: var(--title-opacity, 0);
  translate: 0 var(--title-y,3rem);
  transition: opacity 300ms ease-in-out var(--duration),translate 300ms ease-in-out var(--duration);
}
.grid img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* reveal title */
input:nth-child(1):checked  ~ .grid > div:nth-child(1),
input:nth-child(2):checked  ~ .grid > div:nth-child(2),
input:nth-child(3):checked  ~ .grid > div:nth-child(3),
input:nth-child(4):checked  ~ .grid > div:nth-child(4),
input:nth-child(5):checked  ~ .grid > div:nth-child(5),
input:nth-child(6):checked  ~ .grid > div:nth-child(6),
input:nth-child(7):checked  ~ .grid > div:nth-child(7),
input:nth-child(8):checked  ~ .grid > div:nth-child(8),
input:nth-child(9):checked  ~ .grid > div:nth-child(9),
input:nth-child(10):checked ~ .grid > div:nth-child(10),
input:nth-child(11):checked ~ .grid > div:nth-child(11),
input:nth-child(12):checked ~ .grid > div:nth-child(12),
input:nth-child(13):checked ~ .grid > div:nth-child(13),
input:nth-child(14):checked ~ .grid > div:nth-child(14),
input:nth-child(15):checked ~ .grid > div:nth-child(15),
input:nth-child(16):checked ~ .grid > div:nth-child(16),
input:nth-child(17):checked ~ .grid > div:nth-child(17),
input:nth-child(18):checked ~ .grid > div:nth-child(18),
input:nth-child(19):checked ~ .grid > div:nth-child(19),
input:nth-child(20):checked ~ .grid > div:nth-child(20){
    --title-opacity: 1;
    --title-y: 0;
}

ul {
  list-style: none;
  padding: 0;
}

li + li {
  margin-top: 1rem;
}

li {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: rgba(255, 255, 255, .1);
  padding: 0px 10px;
  border-radius: 0.25rem;
  width: calc(100% - 2rem);
  font-size:20px;
}

li:nth-child(even) {
  flex-direction: row-reverse;
  background: rgba(255, 255, 255, .2);
  margin-right: 0rem;
  margin-left: 2rem;
  display: inline-block;  
}

li:nth-child(even)::before {
  transform: rotateY(180deg);
}